@import "../../styles/variables.scss";

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 15px;
    }
    100% {
        margin-top: 0;
    }
}
// .heading::before {
//     content: url("./2021-10-16.jpg");
//     background-color: rgba(0, 0, 0, 0.5);
//     position: absolute;
//     object-fit: cover;
//     width: auto;
//     height: auto;
// }
.heading {
    margin: 0 auto;
    font-family: $poppins;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-self: center;
    height: 100vh;
    padding: 2rem;
    &__para {
        color: rgb(138, 137, 137);
        font-size: 1.3rem;
        @include breakpoint(md) {
            font-size: 2rem;
        }
    }
    &__first {
        margin-top: 6%;
        color: rgb(138, 137, 137);
        font-size: 2rem;
        letter-spacing: 6px;
        font-weight: 200;
    }
    &__second {
        font-size: 5rem;
        @include breakpoint(md) {
            font-size: 6rem;
        }
        text-align: center;
        background: linear-gradient(to right, $lightGreen 10%, $darkGreen 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__arrow {
        color: $darkGreen;
        width: 4rem;
        position: absolute;
        top: 88vh;
        @include breakpoint(md) {
            top: 90vh;
        }
        animation: jumpInfinite 2s infinite;
    }
}
