@import "../../styles/variables.scss";
.payment_wrapper {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-family: $poppins;
}
