@import "../../styles/variables.scss";
.container {
    padding: 10%;
    background-color: $darkGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form {
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border: 2px solid $darkGreen;
    border-radius: 15px;
}
input {
    color: rgb(236, 233, 233);
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
    background-color: rgb(24, 170, 139);
    border: 1px solid transparent;
}
input:focus {
    outline: none !important;
    border: 1px solid transparent;
}
input::placeholder {
    color: rgb(226, 221, 221);
}
.filled {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.7rem;
    width: 90%;
    background-color: $darkGreen;
    border: 2px solid transparent;
    color: white;
    letter-spacing: 2px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}
.notFilled {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.7rem;
    width: 90%;
    color: $darkGreen;
    background-color: white;
    border: 2px solid $darkGreen;
    letter-spacing: 2px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
    cursor: not-allowed;
    pointer-events: none;
}
