@import "../../styles/variables.scss";
.container {
    padding: 10%;
    background-color: $darkGreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form {
    box-shadow: 18px 20px 15px 2px #433b3b40;
    color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border: 2px solid $darkGreen;
    border-radius: 15px;
    background-color: white;
}
.date {
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
    border: 1px solid rgb(210, 208, 208);
}
.submit {
    margin: 1rem;
    font-size: 1rem;
    padding: 0.7rem;
    width: 90%;
    background-color: $darkGreen;
    border: 2px solid transparent;
    color: white;
    letter-spacing: 2px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}
