@import "../../styles/variables.scss";
.about {
    background-color: $darkGreen;
    text-align: center;
    min-width: 100vw;
    padding: 2rem;
    &__heading {
        font-size: 3rem;
        @include breakpoint(md) {
            font-size: 4rem;
        }
        letter-spacing: 3px;
    }
    &__para {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 3rem 0;

        @include breakpoint(md) {
            font-size: 1.3rem;
            line-height: 2.8rem;
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
            padding: 3rem 0;
        }
    }
}
