@import "../../styles/variables.scss";
.about {
    height: 100vh;
    background-color: $darkGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &_heading {
        text-transform: uppercase;
        font-size: 3rem;
    }
    &_para {
    }
}
