@import "../../styles/variables.scss";
.speciality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $darkGreen;
    text-align: center;
    min-width: 100vw;
    padding: 2rem;
    // height: 100vh;
    &__heading {
        margin: 2rem 0;
        font-size: 2.6rem;
        text-transform: uppercase;
        @include breakpoint(md) {
            font-size: 4rem;
        }
        letter-spacing: 3px;
    }
    &__para {
        margin: 2rem 0;
        font-size: 1.3rem;
        line-height: 2rem;
        @include breakpoint(md) {
            font-size: 1.6rem;
            line-height: 2.8rem;
            max-width: 70vw;
            text-align: center;
            margin: 0 auto;
            padding: 3rem 0;
        }
    }
    &__grid {
        padding: 2rem;
        display: grid;
        justify-items: center;
        align-items: center;
        width: min-content;
        margin: 0 auto;
        padding: 2rem;
        @include breakpoint(md) {
            grid-template-columns: repeat(4, 1fr);
        }
        &__item {
            margin: 1.5rem;
            @include breakpoint(md) {
                margin: 1rem 3rem;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                height: 8rem;
                width: 8rem;
            }
            p {
                color: white;
                font-size: 1.3rem;
                padding: 1rem;
            }
        }
    }
}
