@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    // width: 100vw;
    overflow-x: hidden;
    color: $white;
    font-family: $poppins;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $darkGreen;
}
